# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
.terraform.lock.hcl
*.tfvars
!environments/common.tfvars
!environments/*/terraform.tfvars

# IDE
.vs/
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
